<!-- Main Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark orange mymideia">
  <div id="div_top_hypers topnavmida">
    <ul id="ul_top_hypers">
      <li style="color:white">HelpDesk:</li>
      &nbsp;&nbsp;
      <li><a href="mailto:{{email}}"><img src="assets/img/gmail.png" class="gmail"></a></li>
      &nbsp;&nbsp;
      <li><a href="tel:+91{{mobilenumber}}"><img src="assets/img/telephone.png" class="telephone"></a></li>
      &nbsp;&nbsp;
      <li><a href="https://api.whatsapp.com/send?phone=91{{mobilenumber}}&text=Hi Patanjali Mega Store, Need help to Buy a Product/Place Order. Please call me back." target="_blank">
        <img src="assets/img/whatsapp.png" class="telephone">
      </a></li>
    </ul>
  </div>

  <!-- Main Navigation Links -->
  <div class="navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item homescreen">
        <a routerLink="/home" class="nav-link waves-effect locate" matTooltip="Home">
          <i class="fas fa-home"></i>&nbsp;Home
        </a>
      </li>

      <!-- Sign In/Sign Up -->
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a routerLink="/login" class="nav-link waves-effect" matTooltip="Sign in">
          Sign in
        </a>
      </li>
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a routerLink="/signup" class="nav-link waves-effect" matTooltip="Sign up">
          Sign up
        </a>
      </li>

      <!-- User Profile and Logout When Logged In -->
      <li class="nav-item" *ngIf="isLoggedIn == true">
        <div class="btn-group mx-4" mdbDropdown>
          <mdb-icon fas icon="cog" classInside="dropdown-toggle" mdbDropdownToggle class="waves-effect" mdbWavesEffect style="color:white"></mdb-icon>
          <div class="dropdown-menu dropdown-primary">
            <a class="dropdown-item" routerLink="/viewprofile"><mdb-icon fas icon="user-alt"></mdb-icon>&nbsp;Profile</a>
            <a class="dropdown-item" routerLink="/changepin"><mdb-icon fas icon="key"></mdb-icon>&nbsp;Change Password</a>
            <div class="divider dropdown-divider"></div>
            <a class="dropdown-item" (click)="onLogout()"><i class="fas fa-sign-out-alt"></i>&nbsp;Log Out</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
<!--/.Main Navbar -->

<!-- Secondary Navbar -->
<nav class="navbar navbar-expand-md navbar-light ">
  <a routerLink="/home"><img src="assets/coffee.png" width="100"></a>
  &nbsp;&nbsp;
  <a class="navbar-brand" href="#!">
    <a routerLink="/home"><h5>Coffee</h5></a>
  </a>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item healthtips">
      <a routerLink="/healthtips" class="nav-link">Health Tips</a>
    </li>
  </ul>
</nav>
<!--/.Secondary Navbar -->
