<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark orange mymideia">


    <div id="div_top_hypers topnavmida">
      <ul id="ul_top_hypers" >
      <li style="color:white">
        HelpDesk:
      </li>
      &nbsp;&nbsp;
      <li>
       <a href="mailto:{{email}}"> <img src="assets/img/gmail.png" class="gmail"></a>
      </li>
      &nbsp;&nbsp;
      <li>
        <a href="tel:+91{{mobilenumber}}">
          <img src="assets/img/telephone.png" class="telephone">
        </a>
      </li>
  &nbsp;&nbsp;
      <li>
        <a href="https://api.whatsapp.com/send?phone=91{{mobilenumber}}&amp;text=Hi Patanjali Mega Store, Need help to Buy a Product/Place Order. Please call me back."
        target="_blank">
        <img src="assets/img/whatsapp.png" class="telephone">
      </a>
      </li>
  </ul>
  </div>
  <!--
  <ul class="navbar-nav mr-auto">
    </ul> -->
    <div class="div_top_hypers myicnons navmedia">
      <ul id="ul_top_hypers">
        <li class="homescreen">
          <a routerLink="/home" class="nav-link waves-effect locate" matTooltip="Home">
            <i class="fas fa-home"></i>&nbsp;Home
          </a>
        </li>
        <li class="navscreeen store" >
          <a routerLink="/storelocate" class="nav-link waves-effect locate" matTooltip="Store locate">
            <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;Store
          </a>
        </li>
        <li  *ngIf="isLoggedIn==true" class="navscreeen">
          <a routerLink="/mycart" class="nav-link navbar-link-2 waves-effect" matTooltip="Cart">
            <span class="badge badge-pill red" *ngIf="count">{{count}}</span>
            <i class="fas fa-shopping-cart pl-0"></i>
          </a>
        </li>
  
        <li  *ngIf="isLoggedIn==true" class="navscreeen">
          <a routerLink="/vieworderhistory" class="nav-link waves-effect" matTooltip="Purchase History">
            <i class="fas fa-history"></i>  </a>
        </li>
  
        <li  *ngIf="!isLoggedIn" class="navscreeen">
          <a routerLink="/login" class="nav-link waves-effect" matTooltip="Sign in">
            Sign in
          </a>
        </li>
  
        <li  *ngIf="!isLoggedIn" class="navscreeen">
          <a routerLink="/signup" class="nav-link waves-effect" matTooltip="Sign up">
            Sign up
          </a>
        </li>
  
  
  
        <li class="logout" *ngIf="isLoggedIn==true" >
          <!-- <div class="btn-group"  mdbDropdown>
            <button mdbDropdownToggle type="button" mdbBtn color="white" class="dropdown-toggle waves-light"
              mdbWavesEffect>
              <mdb-icon fas icon="cog"></mdb-icon>Settings
            </button>
  
            <div class="dropdown-menu dropdown-primary">
              <a class="dropdown-item" *ngIf="isLoggedIn==true" ><mdb-icon fas icon="user-alt"></mdb-icon>&nbsp;Profile </a>
              <a class="dropdown-item" *ngIf="isLoggedIn==true"  routerLink="/changepin"><mdb-icon fas icon="key"></mdb-icon>&nbsp;Change Password </a>
              <a class="dropdown-item" *ngIf="isLoggedIn==true"  (click)="onLogout()"><i class="fas fa-sign-out-alt"></i>&nbsp;Log Out </a>
  
            </div>
          </div> -->
  
  
  
          <div class="btn-group mx-4" mdbDropdown>
            <mdb-icon fas icon="cog" classInside="dropdown-toggle" mdbDropdownToggle class="waves-effect"
                      mdbWavesEffect style="color:white"></mdb-icon>
            <div class="dropdown-menu dropdown-primary">
              <a class="dropdown-item" *ngIf="isLoggedIn==true"  routerLink="viewprofile"><mdb-icon fas icon="user-alt"></mdb-icon>&nbsp;Profile </a>
              <a class="dropdown-item" *ngIf="isLoggedIn==true"  routerLink="/changepin"><mdb-icon fas icon="key"></mdb-icon>&nbsp;Change Password </a>
  
              <div class="divider dropdown-divider"></div>
              <a class="dropdown-item" *ngIf="isLoggedIn==true"  (click)="onLogout()"><i class="fas fa-sign-out-alt"></i>&nbsp;Log Out </a>
            </div>
          </div>
        </li>
  </ul>
  
  
  
  </div>
  
  
  </nav>
  <!--/.Navbar -->
  <!-- Navbar -->
  <nav class="navbar navbar-expand-md navbar-light">
    <a routerLink="/home"><img src="assets/coffee.png" width="100"></a>
    &nbsp;&nbsp;
    <a class="navbar-brand" href="#!">
      <a routerLink="/home"> <h5>Cofee</h5></a>
    </a>

  
  
    <!-- Collapse button -->
  
    <!-- Links -->
  
    <ul class="navbar-nav ml-auto">
      <li  class="healthtips"><a routerLink="/healthtips">Health Tips</a></li>
    </ul>
  </nav>
  <!-- Navbar -->
  
